.web-game-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(97, 97, 97);
  // background: url('https://thumbs.gfycat.com/TestySophisticatedIndianpangolin-size_restricted.gif')
  //   no-repeat center / cover;
  .main-logo {
    align-self: flex-start;
    padding: 15px 20px 0;
    font-size: 5rem;
    font-weight: bold;
    color: #00f303;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .main-viewer {
    position: relative;
    display: flex;
    width: 100vh;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    .obstacle-box {
      position: absolute;
      width: 200px;
      height: 100%;
      border: 1px solid red;
      .obstacle-unit {
        width: 100%;
        height: 100%;
        .obstacle-controller {
          width: 100%;
          border: 1px solid blue;
        }
        .git-kraken {
          font-size: 200px;
        }
      }
    }
    .airplane-area {
      display: flex;
      align-self: flex-end;
      width: 100%;
      height: 10%;
      background-color: rgba(0, 0, 0, 0.4);
      .airplane {
        font-size: 5rem;
        color: #00f303;
      }
    }
  }
  .count-up-box {
    align-self: flex-start;
    width: 262px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    .count-up {
      float: right;
      padding: 15px 20px 0;
      font-size: 2.5rem;
      color: white;
    }
  }
}
